# Project dependencies (to be installed from root directory)
torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1
opencv-python==4.10.0.84
pandas==2.2.3
numpy==2.1.1
matplotlib==3.9.2
seaborn==0.13.2
scikit-learn==1.5.2
flask==3.0.3
statsmodels==0.14.2
